// MAIN

.about-content{
    /* background-color: red; */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 12px;
}

.about-content-left{
    grid-column: 1 / span 6;
}

.about-content-right{
    // background-color: orange;
    grid-column: 8 / span 5;
}

.accomp-list{
    margin-top: 60px;
}

.accomp-item{
    // background-color: blue;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 12px;
    margin-bottom: 12px;
}

.accomp-name{
    grid-column: 1 / span 3;
}

.accomp-year{
    grid-column: 5 / span 1;
}
