.project-intro,
.bottom-btn-wrap{
    /* background-color: red; */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 12px;
}

.project-title{
    grid-column: 2 / span 2;
}

.project-info{
    grid-column: 4 / span 3;
}

.project-bio{
    grid-column: 8 / span 5;
}

.project-images-wrap{
    margin-top: 150px;
}

.project-images-wrap img{
    margin-bottom: 12px;
}

.two-col-wrap{
    display: flex;
}

.two-col{
    width: 50%;
}

.two-col-left{
    padding-right:6px;
}

.two-col-right{
    padding-left:6px;
}

.back-btn{
    grid-column: 11 / span 2;
}
